body {
    background-image: url(../../public/img/imagesPattern.jpg);
}

.pokeinfo__article {
    display: flex;
    flex-direction: column ;
    background-color: rgba(67, 66, 66, 0.321);
    
    align-items: center;
    gap: 2em;
}
.pokeinfo__main {
    display: flex;
    margin: 3em;
    flex-direction: column;
    height: 100%;
    width: auto;
    gap: 2em;
    background-color: antiquewhite;
   
} 

.pokeinfo__header {
    height: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: greenyellow;
    
}
.pokeinfo__img{
    width: 50%;
    
    z-index: 100;
    margin-bottom: 1em;
    top: -50%;
    position: relative;
}
.pokeinfo__type {
    display: flex;
    flex-direction: row;   
    align-items: center;
    gap: 2em;
}
.pokeinfo__muvements {
    display: flex;
    margin: 3em;
    flex-direction: column;
    height: 100%;
    width: auto;
    gap: 2em;
    background-color: aquamarine;
}


.normal-gradient {
    background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
}
.fighting-gradient {
    background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 99.09%, #e18770 142.33%);
}
.flying-gradient {
    background: linear-gradient(176.83deg, #60b5fb 28.78%, #287bf8 70%, #313146  100%);
} 
.poison-gradient {
    background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
}
.ground-gradient {
    background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
}
.rock-gradient {
    background: linear-gradient(177.03deg, #707070 -11.97%, #87879c 57.49%, #D3D3D3 135.64%);
}
.bug-gradient {
    background: linear-gradient(167.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 109.53%);
}
.ghost-gradient {
    background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
}
.steel-gradient {
    background: linear-gradient(179.75deg, #5E736C -19.96%, #AAA9AD 43.67%, #A8A8A8 138.4%);
}
.fire-gradient {
    background: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}
.water-gradient {
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
}
.grass-gradient {
    background: linear-gradient(178.92deg, #7adfba 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
}
.electric-gradient {
    background: linear-gradient(39.75deg, #0e314d -120.96%, #fcf068 62.67%, #aad2de -310.4%);
}
.psychic-gradient {
    background: linear-gradient(179.75deg, #2e1139 2.4%, #6cf7f6 53.67%, #2e1139 98.4%);
}
.ice-gradient {
    background: linear-gradient(177.03deg, #6FBEDF 2.97%, #caeefe 57.77%, #64CBF5 92.72%);
}
.dragon-gradient {
    background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);
}
.dark-gradient {
    background: linear-gradient(177.03deg, #030706 -111.97%, #1f2524 57.49%, #5A5E5D 95.64%);
}
.fairy-gradient {
    background: linear-gradient(177.03deg, #f765af -11.97%, #9d81d0 57.49%, #6090e7 135.64%);
}
.unknown-gradient {
    background: linear-gradient(177.03deg, #130a09 -11.97%, #bbcec9 57.49%, #130a09 135.64%);
}